node_modules/
dist/
.env
.env.local
*.log
.DS_Store

# Claude Code temp files
tmpclaude-*
CLAUDE.md
.claude/
.aider*
# Personal notes
NOTES.md

# Docs
docs/*
TODO.txt
testing/legacy


#WASM output
wasm_src/target/
testing/outputs/
testing/diffs/
