body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  height:100vh;
  width:100vw;
}
#main{
  display:flex;
  justify-content:space-between;
  width:100%;
  height:100%;
  background-color:#556666;
  overflow: hidden;
}

#boardContainer{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  background-color:#556666;
  user-select:none;
  height:100%;
}
#boards{
  background-color:white;
  display:block;
  /* TODO: change the board top to not be 0,0, but relative to the margin/position of the board
  margin:10px;  
  */
}

.userBoard{
  pointer-events:none;
  position:absolute;
  top:0;
  left:0;
}
.cursors{
  position:absolute;
}
.cursor{
  position:absolute;
  pointer-events:none;
  height:204px;
  width:204px;
  top:1;
  left:1;
}
.name{
  position:absolute;
  pointer-events:none;
  font-size:10px;
  color:gray;
  top:85px;
  left:110px;
}
.text{
  position:absolute;
  top:95px;
  left:105px;
}
.text.self{
  display:none;
}
.textInput{
  overflow:hidden;
}
.input{
  font-size:15px;
}
svg{
  position:absolute;
  height:202px;
  width:202px;
}
circle{
  height:202px;
  width:202px;
}
canvas{
  cursor:none;
}


.boardBtns{
  height:30px;
  width:100%;
  display:flex;
  background-color:lightgrey;
}
.btn{
  background-color:grey;
  transition:0.2s;
  border:2px solid #555555;
  display: flex;
  align-items: center;

}
.tool.btn{
  padding:4px;
}
.tool.btn img{
  width: 100%;
  height: 100%;
  object-fit: fill
}
.btn:hover{
  background-color:lightgrey;
  border:2px solid orange;
}
.btn.selected{
  border:2px solid orange;
}
#sideMenu{
  user-select:none;
  display:flex;
  flex-direction:row;
  height:100%;
  
}
.tools{
  display:flex;
  flex-direction:column;
  width:42px;
  height:100%;
  background-color:grey;
}
.tool{
  display:flex;
  justify-content:center;
  align-content:center;
  height:30px;
  width:30px;
  
  font-size:10px;
}
#toolOptions{
  display:flex;
  flex-direction:column;
  width:150px;
  
  background-color:lightgrey;
  justify-content:space-between;
}
#pickerContainer{
  transform-origin: 0 0;
  transform:scale(0.6);
  display:flex;

}
#colorPicker{
  
  justify-content:center;
  background-color:lightgrey;
    position: absolute; 
  bottom: 0;

}
.picker_sample{
  display:block;
  height:60px;
  width:60px;
}
.picker_done{
  display:none;
}
 .picker_editor {
  display:none;
}

.sliderContainer{
  
  display:flex;
  justify-content:space-around;
}
.sliderContainer label{
  display:block;
  font-size:0.75em;
  text-align:center;
  display: flex;
  align-items: center;
}
.slider{
  width:100px;
  
}
#userList{
  width:100%;
  display:flex;
  flex-direction:column;
  padding-top:2px;
  padding-bottom:2px;
  background-color:#444444;
  height:100px;
  
}
.userEntry{
  font-size:0.8em;
  display:flex;
  justify-content:space-around;
  background-color:#666666;
  border:0;
  border-radius:2px;
  align-items: center;
  padding-bottom:1px;
  padding-top:1px;
}

.listTool{
  display:flex;
  height:20px;
  width:20px;
  background-color:lightgrey;
  border:0;
  border-radius:5px;
  padding:1px;
  object-fit: fill;
}
.toolIcon{
  margin-left:auto;
  margin-right:auto;
}
.listColor{
  height:20px;
  width:20px;
  border:1px solid black;
  border-radius:5px;
}
.listUser{
  color:white;
}
.listUser.self{
  font-style:italic;
  font-weight:bold;
}
.listActive{
  height:15px;
  width:15px;
  background-color:#666666;
  transition:5s;
  border:0;
  border-radius:50%;
}
#gimpImage{
  display:flex;
  object-fit: contain;
  height:150px;
  width:150px;
}
#gimp-file-input{
  width:100%;
}