body {
  margin:0;
  padding:0;
  font-family: sans-serif;
}

h1 {
  font-size: 24px;
}
#boardContainer{
  background-color:white;
}

#sideMenu{
  display:flex;
  flex-direction:row;
}
.userBoard{
  pointer-events:none;
  position:absolute;
  top:0;
  left:0;
}
.cursor{
  position:absolute;
  pointer-events:none;
  height:204px;
  width:204px;
  top:1;
  left:1;
}
.name{
  position:absolute;
  pointer-events:none;
  font-size:10px;
  color:gray;
  top:85px;
  left:110px;
}
.text{
  position:absolute;
  top:95px;
  left:105px;
}
.text.self{
  display:none;
  width:400px;

}
.input{
  font-size:15px;
}
svg{
  position:absolute;
  height:202px;
  width:202px;
}
circle{
  height:202px;
  width:202px;
}
canvas{
  cursor:none;
}
#main{
  display:flex;
  justify-content:space-between;
  width:100vw;
}
.tools{
  display:flex;
  flex-direction:column;
  width:42px;
  height:750px;
  background-color:grey;
}
.btns{
  height:30px;
  display:flex;
  background-color:lightgrey;
}
.btn{
  background-color:grey;
  transition:0.2s
}
.tool.btn{
  padding:5px;
}
.btn:hover{
  background-color:lightgrey;
}
.tool{
  display:flex;
  justify-content:center;
  align-content:center;
  height:30px;
  width:30px;
  border:1px solid black;
  font-size:10px;
}
#toolOptions{
  display:flex;
  flex-direction:column;
  width:250px;
  height:750px;
  

  
  background-color:lightgrey;
}

#colorPicker{
  margin:auto;
  justify-content:center;
  
  background-color:lightgrey;
}
#userList{
  display:flex;
  flex-direction:column;
  padding:10px;
  background-color:#444444;
  height:100px;
}
.user{
  display:flex;
  justify-content:space-around;
  background-color:#666666;
}
.sliderContainer{
  display:flex;
  justify-content:space-around;
}