body {
  margin:0;
  padding:0;
  font-family: sans-serif;
}

h1 {
  font-size: 24px;
}
#boardContainer{
  background-color:white;
}


.userBoard{
  pointer-events:none;
  position:absolute;
  top:0;
  left:0;
}
.cursor{
  position:absolute;
  pointer-events:none;
  height:204px;
  width:204px;
  top:1;
  left:1;
}
.name{
  position:absolute;
  pointer-events:none;
  font-size:10px;
  color:gray;
  top:85px;
  left:110px;
}
.text{
  position:absolute;
  top:95px;
  left:105px;
}
.text.self{
  display:none;
  width:400px;

}
.input{
  font-size:15px;
}
svg{
  position:absolute;
  height:202px;
  width:202px;
}
circle{
  height:202px;
  width:202px;
}
canvas{
  cursor:none;
}
#main{
  display:flex;
  justify-content:space-between;
  width:100vw;
  height:100vh;
  background-color:#556666;
}

.btns{
  height:30px;
  display:flex;
  background-color:lightgrey;
}
.btn{
  background-color:grey;
  transition:0.2s
}
.tool.btn{
  padding:5px;
}
.btn:hover{
  background-color:lightgrey;
}
#sideMenu{
  display:flex;
  flex-direction:row;
  height:100vh;
}
.tools{
  display:flex;
  flex-direction:column;
  width:42px;
  height:100%;
  background-color:grey;
}
.tool{
  display:flex;
  justify-content:center;
  align-content:center;
  height:30px;
  width:30px;
  border:1px solid black;
  font-size:10px;
}
#toolOptions{
  display:flex;
  flex-direction:column;
  width:150px;
  
  background-color:lightgrey;
}
#pickerContainer{
  transform:scale(0.6);
  display:flex;
  margin:auto;
}
#colorPicker{
  margin:auto;
  justify-content:center;
  background-color:lightgrey;
}
.picker_sample{
  display:block;
  height:60px;
  width:60px;
}
.picker_done{
  display:none;
}
 .picker_editor {
  display:none;
}
#userList{
  display:flex;
  flex-direction:column;
  padding:10px;
  background-color:#444444;
  height:100px;
}
.user{
  display:flex;
  justify-content:space-around;
  background-color:#666666;
}
.sliderContainer{
  
  display:flex;
  justify-content:space-around;
}
.sliderContainer label{
  display:block;
  font-size:0.75em;
  text-align:center;
}
.slider{
  width:100px;
}