#timebarMount {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0; // The component inside will have actual height
  z-index: 10000;
  pointer-events: none; // Let events pass through unless clicking the component

  & > * {
    pointer-events: auto; // Re-enable pointer events for the Timebar component itself
  }
}
